.container {
  display: flex;
  flex-direction: column;
}

 .mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}

/* Mat table */
.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  font-style: italic;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1){
  flex: 0 0 5%;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2){
  flex: 0 0 8%;
 }

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3){
  flex: 0 0 8%;
}

.mat-cell:nth-child(7),
.mat-header-cell:nth-child(7){
  flex: 0 0 15%;
}

.title-center {
  margin: 0 auto;
}
