<mat-toolbar color="primary">
  <span class="title-center">Studenti</span>
 </mat-toolbar>

 <div class="container mat-elevation-z8">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Ime</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.ime}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="prezime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Prezime</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.prezime}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="brojIndeksa">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Broj indeksa</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.brojIndeksa}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status.naziv">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.status.naziv}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="departman.naziv">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Departman</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.departman.naziv}}</mat-cell>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary"  (click)="openDialog(1)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="primary" (click)="openDialog(2, row.id, row.ime, row.prezime,row.brojIndeksa,row.status,row.departman)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="openDialog(3, row.id, row.ime, row.prezime,row.brojIndeksa,row.status,row.departman)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row style="cursor: default" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSize]="5"
  [pageSizeOptions]="[5, 10, 20]"
  [showFirstLastButtons]="true" >
</mat-paginator>
 </div>
