.container {
  display: flex;
  flex-direction: column;
  }
  
  /* Toolbar */
  .spacer {
  flex: 1 1 auto;
  align-items: center;
  }
  
  /* Filter */
  .form {
  background-color: white;
  min-height: 56px;
  max-height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
  }
  
  .mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
  }
  
  /* Mat table */
  .no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  font-style: italic;
  }
  
  .mat-cell:nth-child(7),
  .mat-header-cell:nth-child(7){
  flex: 0 0 20%;
  }
  
  .title-center {
  margin: 0 auto;
  }