<mat-toolbar class="toolbarNew" color="primary">
  <span class="title-center">Departman</span>
</mat-toolbar>
<div class="container mat-elevation-z8">
   <mat-form-field>
       <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
     </mat-form-field>
 <mat-table #table [dataSource]="dataSource" class="mat-cell" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="naziv">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Naziv</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.naziv}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="oznaka">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Oznaka</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.oznaka}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="fakultet">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Fakultet</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.fakultet.naziv}}</mat-cell>
    </ng-container>
    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="openDialog(1)">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="primary" (click)="openDialog(2, row.id, row.naziv,
         row.oznaka,row.fakultet)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="primary" (click)="openDialog(3, row.id, row.naziv,
        row.oznaka,row.fakultet)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row style="cursor: default" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSize]="[5]"
  [pageSizeOptions]="[5, 10, 20]"
  [showFirstLastButtons]="true" >
</mat-paginator>
 </div>
