.container {
    display: flex;
    flex-direction: column;
}

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid black;
    cursor: pointer;
}

.example-button-row {
    display: flex;
    align-items: left;
}

.mat-button {
    text-align: left;
    display: block;
}
