<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  @@ -8,7 +8,7 @@ <h1>
  <h2>Here are some links to help you start: </h2>
  <ul>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
      <a mat-button target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  @@ -17,4 +17,49 @@ <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Document
      <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
    </li>
  </ul>
  <app-vozilo></app-vozilo> -->

  <mat-sidenav-container class="example-container">
    <mat-sidenav mode="over" [fixedInViewport]="true" opened mode="side">
      <mat-accordion>
        <a mat-button style="text-align: center">
          <mat-icon [routerLink]="['/home']">Home</mat-icon>
        </a>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Aplikacija
            </mat-panel-title>
            <mat-panel-description>
              Aplikacija za vođenje evidencije
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-button [routerLink]="['/fakultet']">Fakultet</a>
          </mat-nav-list>
          <mat-nav-list>
            <a mat-button [routerLink]="['/student']">Student</a>
          </mat-nav-list>
          <mat-nav-list>
            <a mat-button [routerLink]="['/status']">Status</a>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Informacije
            </mat-panel-title>
            <mat-panel-description>
              Osnovne informacije o aplikaciji
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-button [routerLink]="['/about']">Pomoć</a>
          </mat-nav-list>
          <mat-nav-list>
            <a mat-button [routerLink]="['/author']">Autor</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
