<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje departmana</h3>
  <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija departmana: {{data.id}}</h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Brisanje departmana: {{data.id}}</h3>
  <form class="mat-dialog-content" #formControl="ngForm">
  <div class="form">
    <mat-form-field>
      <input matInput placeholder="Naziv" [(ngModel)]="data.naziv" name="naziv"
      [disabled] = "flag == 3" required>
    </mat-form-field>
  </div>

  <div class="form">
    <mat-form-field>
      <input matInput placeholder="Oznaka" [(ngModel)]="data.oznaka" name="oznaka"
      [disabled] = "flag == 3" required>
    </mat-form-field>
  </div>


    <div mat-dialog-actions>
      <button mat-button *ngIf="flag == 1" [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="add()">Sačuvaj</button>
      <button mat-button *ngIf="flag == 2" [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="update()">Sačuvaj</button>
      <button mat-button *ngIf="flag == 3" [type]="submit" [mat-dialog-close]="1" (click)="delete()">Obriši</button>
      <button mat-button (click)="cancel()" tabindex="-1">Poništi</button>
    </div>
  </form>
 </div>
